h4{
    font-size:15px;
}
p:hover {
    background-color:rgb(196, 196, 243);
  }
h4{
    color:rgb(139, 0, 118);
}
h3{
    color:black;
}
h3{
    font-size:21px;
}

p{
    color:gold;
}
span{
    color:rgb(128, 115, 0);
}
span:hover{
    background-color:rgb(255, 127, 144);
}
h3{
    font-style: italic;
}

h4{
    font-style: inherit;
}
.hello{
    font-size:20;
    color:rgb(13, 79, 38);
}
.character{
    font-size:16px;
    color:rgb(242, 143, 14);
}

